
/*
  filter: drop-shadow(0 0 2em #646cffaa);
  filter: drop-shadow(0 0 2em #61dafbaa);
*/

:root {
  --purple-accent: #646cff;
  --blue-accent: #61dafb;
}

.blog-container {
  display: flex;
  flex-direction: column;
}

header, main, footer {
  padding: 2rem;
}

header {
  background-color: var(--purple-accent);
  min-height: 50px;
}

main {
  background-color: whitesmoke;
  min-height: 200px;
}

footer {
  background-color: var(--blue-accent);
  min-height: 50px;
}
